# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\college\SEM-3\Django Class\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
